// Default table
table {
  width: 100%;
  line-height: 1.5em;
  border-collapse: separate;
  border-spacing: 0 34px;
  thead th {
    padding: 20px 22px;
    white-space: nowrap;
    font-size: 22px;
    cursor: pointer;
  }
  td {
    padding: 20px;
    transition: 1s;
    opacity: 1;
  }
  .loading_td{
    opacity: 0;
  }
  tbody tr {
    background-color: #ffffff;
    font-weight: 600;
    transition: all .25s cubic-bezier(.02,.01,.47,1);
    box-shadow: 0 30px 30px rgba(0,0,0,.02);
    &:hover {
      box-shadow: 0 30px 30px rgba(0,0,0,.04);
      transform: translate(0,-6px);
      transition-delay: 0s !important;
    }
  }
  @keyframes placeHolderShimmer {
    0% {
      background-position: -800px 0
    }
    100% {
      background-position: 800px 0
    }
  }
  
  .loading_tr{
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 70px;
    position: relative;
  }
}